<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand ml-4" href="{{ path('homepage') }}">PostmanLike</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-item nav-link ml-2" href="{{ path('homepage') }}">Accueil<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
          <a class="nav-item nav-link ml-2" href="{{ path('newRequest') }}">Nouvelle Requêtes</a>
          </li>
          {% if app.session.get('isAuth') %}
          <li class="nav-item">
          <a class="nav-item nav-link ml-2" href="#">Mes requêtes</a>
          </li>
            {% endif %}
            <li class="nav-item">
          {% if app.session.get('isAuth') %}
            <a class="nav-item nav-link ml-2" href="{{ path('app_logout') }}">Déconnexion</a>
          {% else %}
            <a class="nav-item nav-link ml-2" href="{{ path('app_login') }}">Connexion</a>
          {% endif %}
          </li>
        </div>
        </div>
    </div>
  </div>
</nav>