{% extends "base.html.twig" %}
{% block title %}PostmanLike-NouvelleAPI{% endblock %}

{% block body %}

    <link rel="stylesheet" href="css/newAPIRequest.css">
    
    
    <header>
        {% include "pages/header.html.twig" %}
    </header>

     
    <div align="center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="form-group">
					    <div class="col-lg-5">
                           
				                <div class="card-body">
                                    <h1 class="display-7" align="center" >Rêquete</h1>
                                    <hr class="my-4">
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                         <div align="center">
                                            <div class="form-label-group">
    <div id='formController'>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        <div class="form-group">
            {{ form_label(form.url) }}
            {{ form_widget(form.url) }}
        </div>
        <div class="form-group">
            {{ form_label(form.methode) }}
            {{ form_widget(form.methode) }}
        </div>
        
        <div class ="btn-centered">
            <button class="btn btn-primary alterbtn">Ajouter</button>
        </div>
        {{ form_end(form) }}

        <div id='test'>
           {{ code }}
        </div>
    </div>
{% endblock %}
