{% extends "base.html.twig" %}
{% block title %}Postman - Mes requêtes{% endblock %}

{% block body %}
    <header>
        {% include "pages/header.html.twig" %}
    </header>


    {% if APIs|length == 0 %}
        <p>Vous n'avez pas encore exécuter de requêtes API</p>
    {% else %}




    <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
          {% for api in APIs %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h3>Nom : {{api["name"]}} </h3>
                    <p class="card-text"><strong>Description : </strong> {{api["description"]}}</p>
                    <p class="card-text"><strong>URL : </strong>{{api["url"]}}</p>
                    <p class="card-text"><strong>Méthode : </strong>{{api["methode"]}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                     <div>
                      <a href="{{ path( 'testAPI',  {'name': api["name"], 'id': api["id"]} ) }}"><input type="button"  class="btn btn-lg btn-primary px-2 " value="Tester"></a>
                      <a href="{{ path( 'updateAPI',  {'name': api["name"], 'id': api["id"]} ) }}"><input type="button"  class="btn btn-lg btn-secondary px-2 mx-2" value="Modifier"></a>
                      <a href="{{ path( 'delAPI',  {'name': api["name"], 'id': api["id"]} ) }}"><input type="button"  class="btn btn-lg btn-danger px-2" value="Supprimer"></a>
                     </div>  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>

        </div>
      </div>

    {% endif %}
{% endblock %}
